<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mycards">
        <activity
            android:name=".activity_update"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:label="ШИНЭЧЛЭХ"/>
        <activity
            android:name=".AddActivity"
            android:exported="false"
            android:label="Үг нэмэх"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Optionsword"
            android:exported="false"
            android:label="Тохиргоо"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="ЦЭЭЖЛЭЕ"
            android:theme="@style/AppTheme.NoActionBar">
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>